body {
    background-color: #272727;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1100px) {
	.container{
        padding: 20px;
        width: auto;
	}
}