.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    background-color: transparent;
    z-index: 2;
}

.header__link {
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
    transition: .2s ease;
}

.header__link:hover {
    color: #1ae2ce;
}

.header__submenu{
    display: flex;
    flex-direction: column;
}

.menuList{
    position: absolute;
    top: 100px;
    background-color: #222;
    width: 237px;
    display: none;
}

.menuList li{
    margin-bottom: 20px;
    padding-left: 10px;
}

.menuList li a {
    text-decoration: none;
    color: #FFFFFF;
}

.menuList li:first-of-type{
    margin-top: 20px;
}